body {
    font-family: Arial, sans-serif;
    background-color: #c7baff;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #304457;
}

p {
    font-size: 18px;
    color: #000000;
}

img {
    margin: 20px 0;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #003a60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
